.leaveHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.insertSurvey {
    background-color: #112D4E;
    color: #ffffff;
    border-radius: 10px; 
    padding: 1% 1%;
    cursor: pointer;
    text-decoration: none;
    width: auto;
}

.surveyListContent th {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 12%;
}

.surveyListContent th span,
.surveyListContent th i {
    cursor: pointer;
}

.surveyListContent td {
    text-align: center;
    padding: 10px;

}

.surveyOpen{
    background-color: #3F72AF;
    color: #ffffff;
    border: solid #3F72AF;
    border-radius: 10px;
    padding: 1% 2%;
    cursor: pointer;
    text-decoration: none;
}

.surveyComplete{
    background-color: #F9F7F7;
    color: #000000;
    border: solid #D9D9D9;
    border-radius: 10px;
    padding: 1% 2%;
    text-decoration: none;
}

.survey-title {
    max-width: 200px; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    