.insertAnnouceBtn:hover {
    background-color: #465970;
    color: white;
    border-radius: 10px;
    padding: 1% 2%;
    cursor: pointer;
    margin-left: 93%;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
}

.insertAnnouceBtn {
    background-color: #112D4E;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1% 2%;
    cursor: pointer;
    margin-left: 93%;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
  }

.anc-insert-button {
    background-color: #112D4E;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1% 2%;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
}

.anc-insert-button:hover {
    background-color: #465970;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1% 2%;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
}

.anc-cancel-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    padding: 1% 2%;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    margin-right: 30px;
}

.anc-cancel-button:hover {
    background-color: #EDEAEA;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    padding: 1% 2%;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    margin-right: 30px;
}

