.progress {
    width: 100%;
    align-self: center;
    --bs-progress-bar-bg: #112D4E;
    margin-top: 7px;
    display: flex;
};

.pageTitle {
    margin-bottom: 20px;
    margin-top: 20px;
};

.content1 {
    margin-left: 25px;
    text-align: center;
    margin: 20px
};

.content2 {
    margin-left: 25px;
};

.tableStyle {
    width: 97%;
    border-collapse: collapse;
    text-align: center;
};

.select {
    padding: 15px 10px;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 90px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
}
.select input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.select input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}

