/* Image */
.imageStyle {
    width: 250px;
    height: auto;
    margin-bottom: 150px;
    border-radius: 50%;
}

/* Form Container */
.formContainerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1024px;
}

/* Input Styles */
.inputStyle123 {
    /* height: 40px;
    width: 300px;
    font-size: 25px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    text-indent: 10px;
    margin-left: 20px; */
    width: 250px;
    padding-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.inputStyle1::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

/* Link Style */
.linkStyle {
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    display: inline-block;
    margin-left: 150px;
    margin-right: -100px;
    padding-bottom: 3px;
    border-bottom: 1px solid #000;
}

/* Login Button */
.loginButtonStyle {
    height: 80px;
    width: 500px;
    font-size: 40px;
    background-color: #3F72AF;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 30px;
}

/* Link Container */
.linkContainerStyle {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Modal */
.modalStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modal Content */
.modalContentStyle {
    background-color: #fff;
    padding: 50px 200px; /* Top, Right, Bottom, Left */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Close Button */
.closeButtonStyle {
    height: 50px;
    width: 100px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: 30px;
    border-radius: 15px;
    font-size: 22px;
    stroke: #BBBBBB;
    border: 1px solid #D5D5D5;
}

/* Confirmation Button */
.confirmationButtonStyle {
    height: 50px;
    width: 100px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #3F72AF;
    color: white;
    font-size: 22px;
    border: 1px solid #D5D5D5;
}

.closeButtonStyle:hover {
    background-color: #CCCCCC; /* Darker color when hovered */
}

/* Button Container */
.buttonContainerStyle123 {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
}

/* Password Change */
.changePasswordStyle {
    font-size: 50px;
    font-weight: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

/* Paragraph Style */
.pStyle {
    width: 100px;
    font-size: 20px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 20px;
}

.information {
    margin-top: 0px;
    text-align: center;
}

.modalStyle {
    /* Your modal container styles */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContentStyle {
    /* Your modal content styles */
    position: relative; /* Ensure the position of the close button is relative to the modal content */
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Increase font size to make the "X" symbol larger */
    z-index: 1; /* Ensure the close button is above other content */
}

.closeButton:hover {
    color: #ff0000; /* Change color on hover if desired */
}

.content123 {
    display: flex;
    flex-direction: column;
}



.contentBox1, .contentBox2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentBox1 {
    margin-bottom: 20px;
}