.delete-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.delete-modal.show {
  display: block;
}

.delete-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  height: 30%;
  text-align: center;
  border-radius: 10px;
}

.delete-modal-text {
  margin-top: 70px;
}



.button-container {
  margin-top: 40px;
}

.confirm-button,
.cancel-button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-button {
  background-color: #3F72AF;
  color: white;
}

.cancel-button {
  background-color: #ffffff; 
  border: 1px solid #BBBBBB;
  color: rgb(0, 0, 0);
}

.confirm-button:hover {
  filter: brightness(90%);
}

.cancel-button:hover {
  background-color: #d6d6d6; 
  border: 1px solid #8a8a8a;
  color: rgb(0, 0, 0);
}
