.custom-btn {
  margin-left: 40%;
  margin-top: 3%;
}



.member-list-container {
  max-height: 400px;
  /* 최대 높이 설정 */
  overflow-y: auto;
  /* 세로 스크롤이 필요한 경우 스크롤 표시 */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
}

.member-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px;
}

.member-list li {
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e7e7; 
}

.member-list li:first-child {
  border-top: 1px solid #e7e7e7;
}

.member-list li:last-child {
  border-bottom: 1px solid #e7e7e7;
}

.member-list li span {
  display: flex;
  align-items: center;
  width: 100%;
  order: 1;
}

.member-list li input[type="radio"] {
  margin-right: 10px;
}

.member-list li:hover {
  background-color: #9fdcff;
}

.member-list li label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* 요소 사이의 공간을 균등하게 배분 */
  width: 100%;
}

.member-list li input[type="radio"] {
  order: 2;
  /* 라디오 버튼을 오른쪽에 배치 */
  margin-left: auto;
  /* 라디오 버튼과 텍스트 사이의 간격 설정 */
  transform: scale(1.5);
  /* 라디오 버튼 크기 조절 */
}



.user-photo {
  width: 40px; /* 사용자 사진의 너비 */
  height: 35px; /* 사용자 사진의 높이 */
  border-radius: 50%; /* 원형 모양으로 잘라냄 */
  margin-right: 10px; /* 사용자 사진과 정보 사이의 간격 */
  border: 1px solid #ccc; /* 테두리 스타일 및 두께 */
  background-color: #ffffff;
}

