/* body {
    overflow: hidden;
} */

.main2Pages123 {
    display: flex;
    width: auto; /* Ensure it takes full width */
    height: auto;
    justify-content: space-between; /* Distribute space evenly */
    padding: 20px; /* Add some padding for spacing */
    box-sizing: border-box; /* Include padding in the width/height */
}

.columnStyle1 {
    width: 90%;
    height: auto;
}

.firstPage123, .secondPage123 {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: visible; /* Ensure content is not clipped */
    box-sizing: border-box;
    width: auto;
}


.columnStyle1 {
    display: flex;
    flex-direction: column;
}

.changed {
    color: red;
}

.changePassword {
    display: flex;
    align-items: center;
    justify-content: center; /* Center align the text horizontally */
    width: 180px;
    height: 50px;
    align-self: center;
    background-color: #3f72af;
}

.resetPasswordButton {
    display: flex;
    align-items: center;
    justify-content: center; /* Center align the text horizontally */
    padding: 10px 20px;
    align-self: center;
    border-radius: 10px;
    background-color: #3f72af;
    color: white;
}

.rowStyle {
    flex: 1;
    justify-content: flex-start;
}

.cardOuterLine, .cardOuterLine2 {
    height: 100%; /* Make sure the card fills the parent height */
}

.pageTitleStyle {
    margin: 20px 0px;
    /* font-size: 20px; */
}

.profilePic {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contentStyle1 {
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 0px 50px;
}

.contentStyle23 {
    justify-content: space-between;
    margin-top: 50px;
    display: flex;
    align-items: center;
    /* left: ; */
}

.changePassword {
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nameBox {
    height: auto;
    width: auto;
    /* font-size: 30px; */
    text-align: center;
}

.button onClick {
    background-color: transparent;
    height: 40px;
    width: 80px;
    border: none;
    /* font-size: 24px; */
    cursor: pointer;
    font-weight: 900;
}

.insertCorrection {
    background-color: #3f72af;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #3f72af;
}

.insertCorrection :hover {
    cursor: #112d4e;
}

.memberIdStyle, .emailStyle, .addressStyle, .phoneNoStyle, .employedDateStyle, .departStyle, .positionStyle, .memberStatusStyle, .nameStyle {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 20px;
    margin-left: 50px;
}

.memberId, .email, .address, .phoneNo, .employedDate, .depart, .position, .name, .memberStatus {
    margin-right: 50px;
    width: 100px;
}

.notice-insert-button, .inputAddressButton1 {
    background-color: white;
    color: black;
    border: 1px solid #3f72af;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    height: 46.2px;
    width: auto;
    margin-left: 15px;
}

.inputAddressButton1 :hover {
    background-color: #d5d5d5;
}

.inputStyle, .inputStyleConfirmed {
    /* width: 250px; */
    /* padding-left: 10px; */
    padding: 10px; /* Add padding for better visual appearance */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.inputStyleForMember {
    width: 300px;
    padding: 10px; /* Add padding for better visual appearance */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.inputStyle:focus, .inputStyleConfirmed:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a box shadow on focus */
}

.confirmed {
    background-color: #D5D5D5;
}

.contentStyle3 {
    /* display: flex; */
    justify-content: space-between;
    margin: 20px 50px 50px 50px;
}

.notice-cancel-button1, .notice-confirm-button1 {
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
}

.notice-cancel-button1 {
    background-color: #FFFFFF;
    color: black;
    margin-right: 15px;
    border: 1px solid #D9D9D9;
}

.notice-confirm-button1 {
    background-color: #3f72af;
    color: white;
    border: 1px solid #3f72af;
}

.buttonClass {
    margin-top: 50px;
    text-align: right;
}

.transferredDateStyle, .positionNameStyle {
    color: #D5D5D5;
}

.uploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Make the container a positioned parent */
}


.uploadButton {
    background-color: #112d4e;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.uploadButton:hover {
    background-color: #1f4068;
}

.uploadInput {
    display: none;
}

.uploadInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.uploadLabel {
    position: relative;
    display: inline-block;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3F72AF;
    border: 1px solid #D5D5D5;
    color: white;
    margin-bottom: 10px; /* Add margin bottom to create space between label and input */
}

.uploadLabel input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1; /* Ensure the input is above the label */
    background-color: #0d1b30;
}

.uploadLabel:hover {
    background-color: #e0e0e0;
}

.departNameStyleOuter, .positionNameStyleOuter {
    display: flex;
}

.departNameStyle {
    width: 100px;
    text-align: left;
}


.departNameDiv {
    /* margin-right: 20px; */
}

.positionNameDiv {
    margin-left: 20px;
}

.inputStyle1 {
    width: 100px;
    height: 40px;
    font-size: 16px;
    margin-right: 20px;
}

.inputStyle2 {
    width: 100px;
    height: 40px;
    /* font-size: 20px; */
}

/* Modal Styles */
/* .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
} */

/* .modal-backdrop {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    padding: 7px;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Ensure the backdrop is just below the modal 
} */

.transferredHistoryStyle {
    width: 300px;
}

.transferredDateStyle {
    text-align: left;
}

.inputStyleForBirthdayForMember {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between;
    width: 300px; /* Match the width of the inputStyles */
    height: 52.22px;
}

.inputStylesForYear, .inputStylesForMonth, .inputStylesForDays {
    width: 70px;
    /* padding-left: 10px; */
    padding: 10px; /* Add padding for better visual appearance */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    box-sizing: border-box; /* Ensure padding is included in the width */
}