.pageTop{
    display: flex;
    justify-content: space-between;
    min-width: 1100px;
}
.tempSave{
    
    justify-content: flex-end;
    margin-top : 50px;
}
.tempSave button{
    background-color: #3F72AF;
    border-radius: 10px;
}
.tempSave button:hover{
    background-color: #92B9E7;
}

.bigContent{
    margin: 10px;
    width : 100%;
    max-width: 1800px;
    min-width: 1200px;
    padding-right: 50px;
    font-size: 15px;
    /* margin-top : 50px; */
    padding-left: 20px;
    padding-top: 20px;
    
}
.middleContent{
    display:flex;
    justify-content: space-between;
    gap: 30px;
    min-height: 1400px;
}
.insertAppSideLeft, .insertAppSideRight{
    background-color: white;
    padding : 40px;
    height: 1800px;
    max-height: 2500px;
    border-radius: 15px;
}

.insertAppSideLeft {
    flex: 40%;
    height: 100%;
    min-height: 1378px;
}
.insertAppSideRight{
    flex: 55%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.chooseApprover{
    margin-left:20px;
}
.ApproversBtn p {
    display: none;
}
.ApproversBtn:hover{
    background-color: #EDEAEA;
}
.ApproversBtn:hover p {
    
    background-color: #F4F4F4;
    color: grey;
    display: block;
    position: absolute;
    text-decoration: none;
    width: 150px;
    z-index: 100;
    margin-left: 80px;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    font-weight: lighter;
}


.ApproversBtn{
    width: 100%;
    margin-right: 10px;
    margin-left: 0px;
    text-align: left;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    position:relative;
}
.LineTitle{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom : 10px;
    display: flex;
    align-items: center;
}
.LineBox{
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top : 150px;
}
.approvalItem{
    cursor:default;
}

.chooseForm{
    margin-bottom: 20px;
}
.chooseForm label {
    display: block;
    margin-bottom : 10px;
    font-size: 17px;
    font-weight: bold;
}
.chooseForm select{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.SelectBoxApproverLine, .SelectBoxReferencerLine{
    border: 1px solid gray;
    height: 350px;
    border-radius: 5px;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
}
.SelectBoxApproverTable{
    border : none;
    align-items: center;
    width: 100%;
}
.SelectBoxApproverTable tr input{
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
    width: 20px;
    height: 20px;
}
.SelectBoxApproverTable th, .SelectBoxApproverTable td{
    max-width: 100px;
    overflow: hidden;
    padding: 5px;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.formAlert{
    color: #D5D5D5;
}
.approvalTitle{
    margin-bottom : 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.approvalTitle input{
    min-width : 350px;
    text-align: center;
    border:none;
    border-bottom : 1px solid black;
    height: 60px;
    outline: none;
}

.insertAppButtons{
    margin-top: 30px;
    margin-bottom : 50px;
    display: flex;
    justify-content: flex-end;
}
.insertAppButtons button{
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    
    margin-left: 30px;
    font-size: 16px;
    border:none;
}
.insertAppButtons button:first-of-type{

    background-color: white;
    color: black;
    border: 1px solid #D9D9D9;
}
.insertAppButtons button:last-of-type{
   
    background-color: #112D4E;
    color: white;
}
.insertAppButtons button:first-of-type:hover{
    background-color: #EDEAEA;
}
.insertAppButtons button:last-of-type:hover{
    background-color: #465970;
}
.fileUpload {
    margin-top: 20px;
}
.fileUploadLabel {
    display: inline-block;
    padding: 8px 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #D9D9D9;
    width: 90px;
    text-align: center;
    font-weight: bold;
}
.fileUploadLabel:hover{
    background-color: #EDEAEA;
}

.fileUploadInput {
    display: none;
}

.fileList {
    margin-top: 10px;
}

.fileItem {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #f4f4f4;
    padding: 5px;
    /* border: 1px solid #ccc; */
    margin-bottom: 5px;
    cursor: default;
    /* max-width: 150px; */
    background-color: white;
    border-radius: 5px;
}

.fileUpload input{
    margin-left: 10px;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
.removeFileIcon {
    margin-left : 10px;
    margin-right: 5px;
    cursor: pointer;
    color: red;
}
.titleError{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    
}