.approvalListBody{
    display: flex;
    align-items: center;
    justify-items: center;

    
}
.approvalBar{
    margin-top : 30px;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.approvalBarLeft{
    width: 60%;
}

.approvalSearch{
    display: flex;
}