.tableContainer {
    margin: 10px;
    width : 100%;
    max-width: 1800px;
    background-color: white;
    padding-right: 50px;
    font-size: 15px;
    margin-bottom : 50px;
}

.table{
    width : 100%;
    border-collapse: collapse;
    border-spacing: 50px;
    margin: 15px 20px;
    text-align: center;
    transition: none;
    table-layout: fixed;
}
.table thead{
    font-weight: bold;
    font-size: 16px;
}
.table th, .table td{
    padding: 25px;
    border-bottom: 1px solid #D5D5D5;
    font-weight:500;
    height: 100px;
}
.table th{
    font-weight: 900;
    font-family: sans-serif ;
}
.table tbody tr:hover{
    background-color: #F4F4F4;
    cursor: pointer;
}

.loadingMessage {
    text-align: center;
    font-size: 16px;
    padding: 20px;
    align-items: center;
    background-color: white;
    font-weight: bold;
}

.approved{

}

.rejected{
    color: red;
}

.withdrawn{
    color: #AAAAAA;
}

.approving{
    color: black;
}

.standByApprover{
    color: #4154F1;
}

.pagination{
    color : red;
}



.approvalPage{
    margin-top : 50px;
}
.sortIcon{
    margin-left: 5px;
    cursor:pointer;
    
}
.deleteButton{
    background-color: white;
    border: 1px solid #BBBBBB;
    font-weight: bold;
    color: black;
}
.deleteButton:hover{
    /* background-color:#112D4E; */
    background-color: #E9ECEF;
    color: black;
}
.approvalButton{
    background-color: white;
    color: #0A95DB;
    transition: none;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    margin-left: 0px;
}
.approvalButton:hover{
    background-color: #E9ECEF;
}
.activePage{
    background-color: #E9ECEF;
    border: 3px solid #C2DBFE;
}