.table{
    /* border: 1px solid black; */
    width: 100%;
    margin-top : 20px;
    margin-bottom : 40px;
    border : 1px solid black;
}
.tableTr th, td {
    border : 1px solid black;
    padding: 8px;
    text-align: center;
}
.table th{
    font-weight: bold;
}