.modal-body div {
    margin-bottom: 3%;
}

.leaveAccrual {
    display: flex;
    height: 57.65px;
}

.leaveAccrual>label {
    height: 24px;
    margin-top: 1.6%;
}

.leaveAccrual input[type="text"],
.leaveAccrual input[type="number"] {
    width: 202.4px;
    height: 37.65px;
}

.leaveAccrual input[type="text"] {
    margin-left: 32px;

}

.leaveAccrual input[type="number"] {
    margin-left: 11px;
}

.leaveAccrual select {
    width: 130px;
    height: 37.65px;
    margin-left: 48px;
}

.accrualCount {
    font-size: 14px;
}