.LeaveProcessingListContent th {
    text-align: center;
    padding: 10px;
    border-radius: 10px;   
    width: 15%;
}

.LeaveProcessingListContent th span,
.LeaveProcessingListContent th i {
    cursor: pointer;
}

.LeaveProcessingListContent td {
    text-align: center;
    padding: 10px;

}

.leaveDetail {
    background-color: #3F72AF;
    color: #ffffff;
    border: solid #3F72AF;
    border-radius: 10px;
    padding: 1% 4%;
    cursor: pointer;
    text-decoration: none;
}