.modal-body div {
    margin-bottom: 3%;
}

.onlyFelx {
    display: flex;
    height: 57.65px;
}

.onlyFelx > label {
    height: 24px;
    margin-top: 1.6%;
}

.onlyFelx input[type="text"] {
    width: 202.4px;
    height: 37.65px;
}

.onlyFelx select {
    width: 120px;
    height: 37.65px;
}

.form-control,
.onlyFelx select {
    margin-left: 6px;
}

.onlyFelx label,
.form-group label {
    margin-right: 5px;
}